* {
  margin: 0.5rem;
  font-family: Inter;
}
.burger {
  height: 30px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.soonText {
  font-size: small;
  text-transform: uppercase;
  font-weight: bold;
  color: #ff3998;
  margin-top: 3rem;
}

.mainText {
  font-size: xxx-large;
  font-weight: bold;
}

.bodyText {
  font-size: 90%;
  margin-right: 9rem;
}
.pinkSnowman {
  height: 20rem;
  float: right;
  /* position: relative; */
  margin-right: -50%;
  margin-top: -80%;
}
